<div class="nested-fields">
  <%= f.input :description, label: "Título", input_html: {style: "width: 50%"} %>
  <%= link_to_remove_association 'Remover opção', f, class:'btn btn-danger btn_option' %>
  <hr>
</div>
