<% topic.options.each do |option| %>
  <div class="row">
    <div class="col">
      <%= option.description %>
    </div>
    <div calss='col'>
      <span class="badge badge-pill badge-warning p-2">
        <% percent_votes = ((option.votes.count.to_f/topic.sum_votes.to_f)*100).round(2) %>
        <%= "#{percent_votes.nan? ? 0 : percent_votes}%" %>
      </span>
      <span class="badge badge-pill badge-primary p-2">
        <%= option.votes.count %> <%= Vote.model_name.human(count: 2) %>
      </span>
    </div>
  </div>
<% end %>