<% topic.options.each do |option| %>
  <hr>
  <div class="row mr-3">
    <div class="col">
      <%= option.description %>
    </div>
    <div calss='col'>
      <span class="badge badge-pill badge-warning p-2">
        <%= "#{option.percent_votes}%" %>
      </span>
      <span class="badge badge-pill badge-primary p-2">
        <%= option.votes.count %> <%= Vote.model_name.human(count: 2) %>
      </span>
    </div>
  </div>
<% end %>
