<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><%= Assembly.model_name.human %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <%= t('links.home') %>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to Assembly.model_name.human(count: 2), admin_assemblies_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Entrar', '', class:'nav-link btn btn-success' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
